<div class="container">
    <div class="row">
        <div class="col align-self-end">
            <button class="btn btn-primary add" routerLink="/newTask"> 
                    Add task
            </button>
        </div>
    </div>
    <div class="row">
        <h2>My Todo List</h2>
        <div class="col align-self-center">
            <ul class="list-group">
                <li class=" " *ngFor="let task of tasks | sortById">
                    <a class="list-group-item list list-group-item-action" routerLink="/detail/{{task.title}}" (click)="onSelect(task)">
                        <p class="name">{{task.title}}</p>
                        <div>
                            <label for="">Done </label>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (click)="changeStatus(task)">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        
        <h2>List of done tasks</h2>
        
        <ul class="tasks">
            <li *ngFor="let task of doneTasks">
              <label>
                  <span [class.selected]="task === selectedTask" (click)="onSelect(task)">
                     <span class="crossed" [class.done]="task.toDo">{{task.title}}</span>
                  </span>
              </label>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked (click)="changeStatus(task)">
            </li>
        </ul>
    </div>
    <div *ngIf="doneTasks.length > 0">
        <button class="btn btn-primary" (click)="updateTaskStatus()">Change tasks status</button>
    </div>
</div>