.crossed{
    text-decoration: line-through;
}
.tasks li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
  
.tasks .form-check-input {
    margin-left: 5px; 
}
.checkbox{
    margin-right: 0;
}
.add{
    margin-top: 10px;
}
ul {
    list-style-type: none;
  }