
<div *ngIf="updateTask == false && task">
    <div class="mb-3">
        
        <div>
            <label for="titleArea" class="form-label">Titre de la tâche</label>
            <input name="title" [(ngModel)]="task.title" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">    
        </div>
    </div>
    <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="description"[(ngModel)]="task.description" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"></textarea>
    </div>
        <button class="btn btn-primary" (click)="update(task)" *ngIf="task.title.length > 0">
            Update task
        </button>
</div>